<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DST_Toolkit.Properties.Resources" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DST_Toolkit.Properties.Resources>
            <setting name="steamapps" serializeAs="String">
                <value />
            </setting>
            <setting name="cluster" serializeAs="String">
                <value />
            </setting>
            <setting name="klei_server_token" serializeAs="String">
                <value />
            </setting>
            <setting name="server_name" serializeAs="String">
                <value />
            </setting>
            <setting name="description" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcut_path" serializeAs="String">
                <value />
            </setting>
            <setting name="bat_path" serializeAs="String">
                <value />
            </setting>
        </DST_Toolkit.Properties.Resources>
    </userSettings>
</configuration>